body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}


.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container input {
  padding: 10px;
  margin: 10px;
  width: 220px;
}

.login-container button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.chat-container {
  max-width: 400px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: white;
}

.chat-header {
  padding: 15px;
  background: #007bff;
  color: white;
  text-align: center;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #e5ddd5;
  display: flex;
  flex-direction: column;
}

.chat-message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
}

.chat-message p {
  margin: 5px 0;
}

.chat-message small {
  font-size: 10px;
  color: gray;
}


.other {
  background: white;
  align-self: flex-start;
}

.own {
  background: #dcf8c6;
  align-self: flex-end;
}


.reply-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}


.input-box {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.input-box button {
  padding: 10px 15px;
  background: #25d366;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
